/* Global Classes*/
.radius-0 {
  border-radius: 0;
}

.radius-bottom-left {
  border-bottom-left-radius: 12px !important;
}

#participantvolumemute,
#activerequestvolumemute,
#activerequestvolumedown,
#participantvolumedown {
  display: none;
  margin: auto;
}

#activerequestvolumeup,
#participantvolumeup {
  margin: auto;
}

.aratok-bg {
  background: #D55E40 !important;
  color: #fff !important;
}

.aratok-bg:hover {
  background: #923f2a !important;
  color: #fff !important;
}

.text-aratok {
  color: #D55E40 !important;
}

.text-aratok:hover {
  color: #D55E00 !important;
}

input[type=range] {
  -webkit-appearance: none;
  background-color: #bbb;
  height: 9px;
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: -1px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #D55E40;
}

input[type=range]:hover ~ #rangevalue,
input[type=range]:active ~ #rangevalue {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  top: -5px;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #000;
  bottom: 0;
  position: absolute;
}
body #main-container {
  width: 100%;
  height: 100vh;
  bottom: 0px;
  height: auto;
  position: absolute;
  background: #151515;
  color: #fff;
}
body #main-container #screens {
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #151515;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}
body #main-container #screens .participant-window {
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
}
body #main-container #screens .participant-window .participant-name {
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  margin-left: 2px;
  margin-bottom: 10px;
  position: absolute;
  font-size: 14px;
}
body #main-container #screens .participant-window .participant-name button {
  margin-right: 0px;
  height: 25px;
  padding: 0;
  width: 25px;
  font-size: 14px;
  margin-left: 0px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  box-shadow: none;
}
body #main-container #screens .participant-window .participant-name button:hover, body #main-container #screens .participant-window .participant-name button:focus {
  background: rgba(255, 255, 255, 0.5);
}
body #main-container .top-right-box {
  top: 0;
  right: 0;
  position: absolute;
  height: auto;
  display: flex;
  flex-direction: row;
  z-index: 10000;
}
body #main-container .top-right-box span {
  line-height: 40px;
  padding: 0 5px;
}
body #main-container .top-right-box button {
  height: 40px;
  margin: 1px;
  border-radius: 0;
}
body #main-container .top-right-box button .fa-comment-dots {
  font-size: 22px;
}
body #main-container .top-right-box #settingdropmenu .btn-bottom-menu {
  background: transparent !important;
  outline: none !important;
  border: none !important;
  font-size: 18px;
}
body #main-container .top-right-box #settingdropmenu .btn-bottom-menu:hover {
  background: rgba(0, 0, 0, 0.1) !important;
  outline: none;
}
body #main-container .top-right-box #settingdropmenu .btn-bottom-menu:focus {
  box-shadow: none !important;
}
body #main-container .top-right-box #settingdropmenu .dropdown-menu {
  width: 250px;
  margin-top: 25px !important;
  padding-bottom: 1px !important;
  margin-right: -40px !important;
  z-index: 5001 !important;
}
body #main-container .top-right-box #settingdropmenu .dropdown-menu .dropdown-item {
  display: flex;
  flex-direction: row;
  line-height: 30px !important;
  font-size: 15px !important;
  cursor: pointer;
}
body #main-container .top-right-box #settingdropmenu .dropdown-menu .dropdown-item:focus {
  background: #d5d5d5 !important;
  color: #000 !important;
}
body #main-container .top-right-box #settingdropmenu .dropdown-menu .dropdown-item #dropdownicon {
  font-size: 18px !important;
  margin-top: 6px !important;
  margin-right: 15px !important;
}
body #bottom-navs {
  height: 55px;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  display: flex;
  flex-direction: row;
}
body #bottom-navs #bottom-navs-left {
  width: 350px;
  height: 55px;
  background: rgba(255, 255, 255, 0);
  line-height: 55px;
  padding-left: auto;
}
body #bottom-navs #bottom-navs-middle {
  width: 150px;
  height: 55px;
  background: rgba(255, 255, 255, 0);
  line-height: 55px;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
}
body #bottom-navs #bottom-navs-middle #adminbtnsbox {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 8px;
  background: transparent;
  margin-left: -13px;
}
body #bottom-navs #bottom-navs-middle #adminbtnsbox button {
  padding: 0;
  border-radius: 50%;
  box-shadow: none;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  margin: 0 2px 0 0;
  display: block;
}
body #bottom-navs #bottom-navs-middle #reactionbtnsbox {
  width: auto;
  display: flex;
  flex-direction: row;
  background: transparent;
  padding-top: 8px;
  justify-content: center;
  margin-left: 22px;
}
body #bottom-navs #bottom-navs-middle #reactionbtnsbox button {
  display: none;
  border-radius: 50%;
  box-shadow: none;
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 30px;
  margin: 0 2px;
  background: rgba(255, 255, 255, 0.1);
}
body #bottom-navs #bottom-navs-middle #reactionbtnsbox button:hover {
  background: rgba(255, 255, 255, 0.5);
}
body #bottom-navs #bottom-navs-middle #reactionbtnsbox .fa-grin-hearts {
  color: #f7f6ff;
}
body #bottom-navs #bottom-navs-middle #reactionbtnsbox .fa-heart {
  color: red;
}
body #bottom-navs #bottom-navs-right {
  max-width: 350px;
  height: 55px;
  background: rgba(255, 255, 255, 0);
  line-height: 55px;
  transition: 0.8s;
}
body #bottom-navs #bottom-navs-right .inputbox {
  width: 100%;
  padding-right: 8px;
  display: flex;
  flex-direction: row;
}
body #bottom-navs #bottom-navs-right .inputbox #messageinput {
  width: 250px;
  transition: 0.8s;
  box-shadow: none;
}
body #bottom-navs #bottom-navs-right .inputbox .btn-group .dropdown-menu {
  margin-bottom: 10px;
  margin-left: -50px;
  padding: 2px !important;
}
body #bottom-navs #bottom-navs-right .inputbox .btn-group .dropdown-menu .dropdown-item {
  height: 40px !important;
  color: #fff;
  line-height: 40px;
  background: #D55E40;
  font-size: 16px;
  transition: 0.8s;
}
body #bottom-navs #bottom-navs-right .inputbox .btn-group .dropdown-menu .dropdown-item:hover {
  background: #fff;
  color: #D55E40;
}
body #bottom-navs #bottom-navs-right .inputbox .btn-group .dropdown-menu .dropdown-item:hover {
  background: #D55E40;
  color: #000;
}
body #bottom-navs #bottom-navs-right .inputbox #askmicrobtn {
  margin-left: 5px;
  box-shadow: none;
  background: #f8f9fa;
  border-radius: 50%;
  transition: 0.5s;
  width: 40px;
  height: 40px;
  padding: 0 !important;
}
body #bottom-navs #bottom-navs-right .inputbox #askmicrobtn:hover {
  background: #D55E40;
  color: #f8f9fa;
}
body #bottom-navs #bottom-navs-right .inputbox #askmicrobtn:focus {
  background: #D55E40;
  color: #f8f9fa;
}
body #bottom-navs #bottom-navs-right .inputbox #askmicrobtn .spinner-border {
  width: 25px;
  height: 25px;
  display: none;
  margin-left: 6px;
}
body #bottom-navs #bottom-navs-right .inputbox #sendmsgbtn {
  color: #D55E40;
  background: rgba(255, 255, 255, 0);
  box-shadow: none;
  transition: 0.5s;
  padding: 1px 8px !important;
  font-size: 22px;
}
body #bottom-navs #bottom-navs-right .inputbox #sendmsgbtn:hover {
  background: rgba(255, 255, 255, 0.2);
}
body #bottom-navs #bottom-navs-right .inputbox #sendmsgbtn:focus {
  background: rgba(255, 255, 255, 0.2);
}
body #bottom-navs #bottom-navs-right .inputbox input {
  height: 37px;
  margin: 9px 4px;
  border-radius: 25px;
}
body #bottom-navs #bottom-navs-right .inputbox button {
  margin: auto;
}
body #right-msg {
  bottom: 55px;
  right: 0;
  position: absolute;
  color: #fff;
  width: 0px;
  background: transparent;
  border-top-left-radius: 12px;
  transition: 0.4s;
  box-sizing: border-box;
  overflow: hidden;
}
body #right-msg #right-msg-content {
  padding: 10px;
  width: 100%;
  min-width: 270px;
  bottom: 55px;
  height: 100%;
  background: transparent;
  overflow-y: scroll;
}
body #right-msg #right-msg-content::-webkit-scrollbar {
  width: 6px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0px;
}
body #right-msg #right-msg-content::-webkit-scrollbar-thumb {
  background: #D55E40;
  border-radius: 5px;
}
body #right-msg #right-msg-content .msg-item {
  background: transparent;
}
body #right-msg #right-msg-content .msg-item .msg-item-header {
  padding: 0 !important;
  background: transparent;
  display: flex;
  flex-direction: row;
}
body #right-msg #right-msg-content .msg-item .msg-item-header #sender-name {
  height: 30px;
  line-height: 30px;
  background: #da7e67;
  padding: 0 5px 0 0 !important;
  border-radius: 6px 0 0 0 !important;
  display: flex;
  flex-direction: row;
}
body #right-msg #right-msg-content .msg-item .msg-item-header #sender-name button {
  padding: 0 !important;
  box-shadow: none;
  height: 30px;
  width: 20px;
  margin: -4px 8px 0 0 !important;
  border-radius: 6px 0 0 0 !important;
}
body #right-msg #right-msg-content .msg-item #msg-item-body {
  padding: 5px;
  border-radius: 6px 0 6px 6px;
  background: #da7e67;
}
body #right-users {
  bottom: 55px;
  right: 0;
  position: absolute;
  color: #fff;
  width: 0px;
  background: rgba(255, 255, 255, 0);
  border-top-left-radius: 12px;
  transition: 0.4s;
  box-sizing: border-box;
  overflow: hidden;
}
body #right-users .nav-tabs {
  width: 100%;
  min-width: 270px;
  border-bottom: none !important;
}
body #right-users .nav-tabs .nav-link {
  width: 50%;
  min-width: 135px;
  height: 50px;
  color: #D55E40;
  font-weight: 500;
  font-size: 16px;
  padding-top: 10px !important;
  border-bottom: 3px solid transparent;
  transition: 0.5s;
}
body #right-users .nav-tabs .nav-link:hover {
  border: none;
  background: rgba(255, 255, 255, 0.1);
}
body #right-users .nav-tabs .active {
  color: #D55E40 !important;
  border-bottom: 3px solid #D55E40 !important;
  border: none;
  background: transparent;
}
body #right-users .users-content {
  width: 100%;
  min-width: 270px;
  overflow-y: scroll;
}
body #right-users .users-content::-webkit-scrollbar {
  width: 6px;
  height: 0;
  padding: 0;
  background: #ccc;
  border-radius: 5px;
}
body #right-users .users-content::-webkit-scrollbar-thumb {
  background: #D55E40;
  border-radius: 5px;
}
body #right-viewer-msg {
  bottom: 55px;
  right: 0;
  position: absolute;
  color: #fff;
  width: 0px;
  background: transparent;
  border-top-left-radius: 12px;
  transition: 0.4s;
  box-sizing: border-box;
  overflow: hidden;
}
body #right-viewer-msg #right-viewer-msg-content {
  padding: 10px;
  width: 100%;
  min-width: 270px;
  bottom: 55px;
  height: 100%;
  background: transparent;
  overflow-y: scroll;
}
body #right-viewer-msg #right-viewer-msg-content::-webkit-scrollbar {
  width: 6px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0px;
}
body #right-viewer-msg #right-viewer-msg-content::-webkit-scrollbar-thumb {
  background: #D55E40;
  border-radius: 5px;
}
body #right-viewer-msg #right-viewer-msg-content .msg-item {
  background: transparent;
}
body #right-viewer-msg #right-viewer-msg-content .msg-item .msg-item-header {
  padding: 0 !important;
  background: transparent;
  display: flex;
  flex-direction: row;
}
body #right-viewer-msg #right-viewer-msg-content .msg-item .msg-item-header #viewer-sender-name {
  height: 30px;
  line-height: 30px;
  background: #da7e67;
  padding: 0 5px !important;
  border-radius: 6px 0 0 0 !important;
  display: flex;
  flex-direction: row;
}
body #right-viewer-msg #right-viewer-msg-content .msg-item .msg-item-header #viewer-sender-name button {
  padding: 0 !important;
  box-shadow: none;
  height: 30px;
  width: 20px;
  margin: -4px 8px 0 0 !important;
  border-radius: 6px 0 0 0 !important;
}
body #right-viewer-msg #right-viewer-msg-content .msg-item #viewer-msg-item-body {
  padding: 5px;
  border-radius: 6px 0 6px 6px;
  background: #da7e67;
}

.list {
  width: 100%;
}
.list .part-btns {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 5px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  transition: 0.5s;
}
.list .part-btns:hover {
  background: rgba(255, 255, 255, 0.6);
}
.list hr {
  border-top: 2px dashed rgba(255, 255, 255, 0.3);
  margin: 5px 0 !important;
}
.list .users-list-content .user-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.list .users-list-content .user-item .participant-text {
  display: flex;
  flex-direction: row;
  width: calc(100% - 100px);
  line-height: 26px;
}
.list .users-list-content .user-item .participant-text .fa-star {
  /*color: #D55E40;*/
  width: 25px;
  line-height: 26;
  margin-top: 5px;
}
.list .users-list-content .user-item .participants-btns-box {
  display: flex;
  flex-direction: row;
}
.list .users-list-content .user-item .participants-btns-box #participantVideo,
.list .users-list-content .user-item .participants-btns-box #participantRefresh {
  margin: auto;
}
.list .users-list-content .user-item .participants-btns-box .spinner-border {
  width: 20px;
  height: 20px;
  display: none;
  margin-left: -2px;
}
.list .requests-list-content .request-item {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.list .requests-list-content .request-item .req-text {
  display: flex;
  flex-direction: row;
  width: calc(100% - 121px);
  line-height: 26px;
}
.list .requests-list-content .request-item .req-text .fa-microphone-alt {
  /*color: #D55E40;*/
  width: 25px;
  line-height: 26;
  margin-top: 5px;
}
.list .requests-list-content .request-item .req-text .fa-video {
  /*color: #D55E40;*/
  width: 25px;
  line-height: 26;
  margin-top: 5px;
}
.list .requests-list-content .request-item .request-btns-box {
  display: flex;
  flex-direction: row;
}
.list .requests-list-content .request-item .request-btns-box #activeReqDelete,
.list .requests-list-content .request-item .request-btns-box #activeReqDown,
.list .requests-list-content .request-item .request-btns-box #activeReqRefresh {
  margin: auto;
}
.list .requests-list-content .request-item .request-btns-box .spinner-border {
  width: 20px;
  height: 20px;
  display: none;
  margin-left: -2px;
}
.list .inQueue-list-content {
  padding-bottom: 5px;
}
.list .inQueue-list-content .viewer-item {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.list .inQueue-list-content .viewer-item .viewer-text {
  display: flex;
  flex-direction: row;
  width: calc(100% - 100px);
  line-height: 26px;
}
.list .inQueue-list-content .viewer-item .viewer-text .fa-user {
  /*color: #D55E40;*/
  width: 25px;
  line-height: 26;
  margin-top: 5px;
}
.list .inQueue-list-content .viewer-item .viewer-btn-box {
  padding-left: 10px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  background: transparent;
}
.list .inQueue-list-content .viewer-item .viewer-btn-box button {
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  margin-right: 5px;
  line-height: 26px;
  box-shadow: none;
}
.list .inQueue-list-content .viewer-item .viewer-btn-box button:focus {
  box-shadow: none;
}
.list .inQueue-list-content .viewer-item .viewer-btn-box #inQueueAccept {
  margin: auto;
}
.list .inQueue-list-content .viewer-item .viewer-btn-box #inQueueReject {
  margin: auto;
}
.list .inQueue-list-content .viewer-item .viewer-btn-box .spinner-border {
  width: 20px;
  height: 20px;
  display: none;
  margin-left: 2px;
}
.list .inQueue-list-content .viewer-item .viewer-btn-box .viewer-more-options-btn {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 5px;
}
.list .inQueue-list-content .viewer-item .viewer-btn-box .viewer-more-options-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.list .viewers-list-content {
  padding-bottom: 5px;
  overflow-y: scroll;
  width: 100;
  min-width: 270px;
}
.list .viewers-list-content::-webkit-scrollbar {
  width: 6px;
  background: #ccc;
  border-radius: 5px;
}
.list .viewers-list-content::-webkit-scrollbar-thumb {
  background: #D55E40;
  border-radius: 5px;
}
.list .viewers-list-content .viewer-item {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.list .viewers-list-content .viewer-item .viewer-text {
  display: flex;
  flex-direction: row;
  width: calc(100% - 100px);
  line-height: 26px;
}
.list .viewers-list-content .viewer-item .viewer-text .fa-user {
  /*color: #D55E40;*/
  width: 25px;
  line-height: 26;
  margin-top: 5px;
}
.list .viewers-list-content .viewer-item .viewer-btn-box {
  padding-left: 10px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  background: transparent;
}
.list .viewers-list-content .viewer-item .viewer-btn-box button {
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  margin-right: 5px;
  line-height: 26px;
  box-shadow: none;
}
.list .viewers-list-content .viewer-item .viewer-btn-box button:focus {
  box-shadow: none;
}
.list .viewers-list-content .viewer-item .viewer-btn-box #fabanviewer {
  margin: auto;
}
.list .viewers-list-content .viewer-item .viewer-btn-box .spinner-border {
  width: 20px;
  height: 20px;
  display: none;
  margin-left: 2px;
}
.list .viewers-list-content .viewer-item .viewer-btn-box .viewer-more-options-btn {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 5px;
}
.list .viewers-list-content .viewer-item .viewer-btn-box .viewer-more-options-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.search-group {
  width: 100%;
  min-width: 270px;
  background: transparent;
  padding: 2px 5px;
  display: flex;
  flex-direction: row;
}
.search-group input {
  width: calc(100% - 50px);
  border-radius: 30px 0 0 30px !important;
  border: none;
  height: 32px;
  box-shadow: 0 0 3px 0px rgba(213, 94, 64, 0.5);
}
.search-group input:focus {
  color: #D55E40 !important;
  box-shadow: 0 0 8px 0px rgba(213, 94, 64, 0.5);
}
.search-group button {
  width: 50px;
  height: 32px;
  border-radius: 0 30px 30px 0;
  line-height: 32px;
  text-align: center;
  padding: 0 !important;
  box-shadow: 0 0 3px 0px rgba(213, 94, 64, 0.5);
}
.search-group button:focus {
  box-shadow: 0 0 8px 0px rgba(213, 94, 64, 0.5);
}

/* to delete later*/
.top-left-box {
  top: 0;
  left: 0;
  position: absolute;
}

#novolume,
#lowvolume,
#mediumvolume {
  display: none;
}

#highvolume {
  display: block;
}

#novolume,
#lowvolume,
#mediumvolume,
#highvolume {
  width: 20px;
}

/* MODALS STYLES */
#settingmodal {
  z-index: 20001;
}
#settingmodal .modal-dialog, #settingmodal .modal-content {
  min-height: 500px !important;
}
#settingmodal .modal-body .modalrowcontent {
  min-height: 498px !important;
}
#settingmodal .modal-body .modalrowcontent .navscol {
  border-right: 1px solid #a0a0a0 !important;
  width: 33%;
  padding-right: 7px;
}
#settingmodal .modal-body .modalrowcontent .navscol h2 {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 1.375rem;
  line-height: 1.75rem;
  display: block;
  margin-left: 0.8rem;
}
#settingmodal .modal-body .modalrowcontent .navscol .nav-pills .nav-link {
  color: #5f6368;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.0107142857em;
  text-transform: none;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  padding: 12px 8px !important;
}
#settingmodal .modal-body .modalrowcontent .navscol .nav-pills .nav-link:hover {
  background: #f7f7f7;
}
#settingmodal .modal-body .modalrowcontent .navscol .nav-pills .nav-link:focus {
  background: #eee;
}
#settingmodal .modal-body .modalrowcontent .navscol .nav-pills .nav-link #settingfas {
  font-size: 1.1rem !important;
  margin-right: 10px !important;
  margin-left: 15px !important;
  width: 20px !important;
}
#settingmodal .modal-body .modalrowcontent .navscol .nav-pills .active {
  color: #D55E40 !important;
  background: rgba(213, 94, 64, 0.2) !important;
}
#settingmodal .modal-body .modalrowcontent .navscol .nav-pills .active #settingfas {
  color: #D55E40 !important;
}
#settingmodal .modal-body .modalrowcontent .modalcontentcol {
  width: 66%;
}
#settingmodal .modal-body .modalrowcontent .modalcontentcol .closerow .close {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center !important;
  vertical-align: middle !important;
  cursor: pointer;
}
#settingmodal .modal-body .modalrowcontent .modalcontentcol .closerow .close:hover {
  background: #d5d5d5 !important;
}
#settingmodal .modal-body .modalrowcontent .modalcontentcol .closerow .close .fa-times {
  margin-top: 6px !important;
}
#settingmodal .modal-body .modalrowcontent .modalcontentcol .tab-content .tab-pane .form-group label {
  color: #D55E40;
  font-weight: 500;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  -webkit-user-select: none;
}
#settingmodal .modal-body .modalrowcontent .modalcontentcol .tab-content .tab-pane .form-group select {
  border: none !important;
  border-bottom: 1px solid #f2f2f2 !important;
  border-radius: 0 !important;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #222;
  text-align: left;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  box-shadow: none;
}
#settingmodal .modal-body .modalrowcontent .modalcontentcol .tab-content .tab-pane .form-group select option {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #222;
  text-align: left;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .navscol {
    width: 80px !important;
    padding-top: 25px;
  }
  .navscol h2 {
    display: none !important;
  }
  .navscol .nav-pills .nav-link span {
    display: none;
  }

  .modalcontentcol {
    width: calc(100% - 80px);
  }
  .modalcontentcol .close {
    top: 10px;
    right: 10px;
    position: absolute;
  }
}
@media screen and (max-width: 850px) {
  #bottom-navs #bottom-navs-left {
    width: calc(100% - 500px) !important;
  }
}
@media screen and (max-width: 768px) {
  #bottom-navs-left {
    display: none;
  }

  #reactionbtnsbox,
#adminbtnsbox {
    margin-left: 3px !important;
  }

  #messageinput {
    max-width: 150px;
  }
}
@media screen and (max-width: 420px) {
  /*#messageinput {
  	max-width: 110px;
  }*/
  #bottom-navs-middle #adminbtnsbox {
    padding-top: 12px !important;
  }
  #bottom-navs-middle #adminbtnsbox button {
    width: 36px;
    height: 36px;
    font-size: 12px;
  }
  #bottom-navs-middle #reactionbtnsbox button {
    width: 36px !important;
    height: 36px !important;
    font-size: 25px !important;
  }

  #bottom-navs-right #askmicrobtn {
    width: 33px !important;
    height: 33px !important;
    font-size: 16px;
  }
  #bottom-navs-right #askmicrobtn .spinner-border {
    margin-left: 2px !important;
  }

  #messageinput {
    max-width: 100px;
  }
}
@media screen and (max-width: 350px) {
  /*#messageinput {
  	max-width: 110px;
  }*/
  #bottom-navs-middle #adminbtnsbox button {
    width: 36px !important;
    height: 36px !important;
    font-size: 12px;
  }

  #messageinput {
    max-width: 80px;
  }
}
@media screen and (max-width: 300px) {
  /*#messageinput {
  	max-width: 110px;
  }*/
  #bottom-navs-middle #adminbtnsbox button {
    width: 32px !important;
    height: 32px !important;
    font-size: 10px;
  }

  #messageinput {
    max-width: 60px;
  }
}

/*# sourceMappingURL=styles.css.map */
