
#coinsvalues {
  display: none;
}


*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;

  box-sizing: border-box;
}
:root{
--redColor:#d55e40;
}
#coinsdropdown {
  margin-top: 25px;
  margin-right: -185px;
  max-width: 270px;
  min-width: 270px;
  max-height: 200px;
  overflow-y: scroll;
}

#coinsdropdown::-webkit-scrollbar {
  width: 6px;
  height: 0;
  padding: 0;
  background: #ccc;
  border-radius: 0px;
}

.pointer {
  cursor: pointer;
}

#coinsdropdown::-webkit-scrollbar-thumb {
  background: #D55E40;
  border-radius: 0px;
}

.participant-coins-item {
  width: 100%;
  padding: 4px 12px 4px 8px;
}

.current-player-item {
  background: rgba(213, 94, 64, 0.4);
  font-weight: 500;
}

#questions-box {
  bottom: 55px;
  right: 0;
  position: absolute;
  color: #fff;
  width: 0px;
  background: white;
  border-top-left-radius: 12px;
  transition: 0.4s;
  box-sizing: border-box;
  overflow: hidden;
}
#questions-box .nav-tabs {
  width: 100%;
  min-width: 270px;
  border-bottom: none !important;
}
#questions-box .nav-tabs .nav-link {
  width: 50%;
  min-width: 135px;
  height: 50px;
  color: #D55E40;
  font-weight: 500;
  font-size: 16px;
  padding-top: 10px !important;
  border-bottom: 3px solid transparent;
  transition: 0.5s;
}
#questions-box .nav-tabs .nav-link:hover {
  border: none;
  background: rgba(255, 255, 255, 0.1);
}
#questions-box .nav-tabs .active {
  color: #D55E40 !important;
  border-bottom: 3px solid #D55E40 !important;
  border: none;
  background: transparent;
}
#questions-box #question-content {
  width: 100%;
  min-width: 270px;
  overflow-y: scroll;
  background: transparent;
  padding: 5px;
}
#questions-box #question-content::-webkit-scrollbar {
  width: 6px;
  height: 0;
  padding: 0;
  background: #ccc;
  border-radius: 5px;
}
#questions-box #question-content::-webkit-scrollbar-thumb {
  background: #D55E40;
  border-radius: 5px;
}

.checkmarkinput {
  height: 25px;
  width: 25px;
  background: #eee !important;
}

.addingquestion input:checked ~ .checkmarkinput {
  background: #2196F3 !important;
}

.customfileinput {
  display: none;
}

.uploadfileinput {
  width: 80%;
  height: 120px;
  margin: 0 10% 0 10%;
  background: rgba(213, 94, 64, 0.4);
  border: 3px dashed #D55E40;
  text-align: center;
  padding-top: 36px;
  color: #000;
  font-size: 22px;
  font-weight: 500;
  border-radius: 12px;
}

#datainfo,
#filedataerror {
  height: 0;
  overflow: hidden;
}

#filedataerror {
  line-height: 40px;
  border: none;
}

.text-question-btn {
  width: 46%;
  margin: 10px 1%;
  height: 100px;
  background: rgba(213, 94, 64, 0.4);
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  border: none;
  outline: none;
  border-radius: 12px;
}

.text-question-btn:focus {
  outline: none;
}

#draggablearea .question-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style: none;
  justify-content: space-between;
  color: #000;
}
#draggablearea .question-item .question-btn {
  width: 30px;
  height: 30px;
  line-height: 25px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding-top: 0;
  color: #000;
  border: none;
  outline: none;
  transition: 0.5s;
}
#draggablearea .question-item .question-btn:hover {
  background: rgba(0, 0, 0, 0.3);
}
#draggablearea .question-item .qstpart {
  display: flex;
  flex-direction: row;
}
#draggablearea .question-item .qstpart .fa-question-circle,
#draggablearea .question-item .qstpart .fa-image,
#draggablearea .question-item .qstpart .fa-video,
#draggablearea .question-item .qstpart .fa-music {
  margin: 5px 5px 0 5px;
}
#draggablearea .question-item .qstpart #questiontext1,
#draggablearea .question-item .qstpart #questiontext2,
#draggablearea .question-item .qstpart #questiontext3,
#draggablearea .question-item .qstpart #questiontext4,
#draggablearea .question-item .qstpart #questiontext5,
#draggablearea .question-item .qstpart #questiontext6,
#draggablearea .question-item .qstpart #questiontext7 {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  color: #000;
}

.backpreviousmodal {
  height: 40px;
  width: 40px;
  padding: 0;
  line-height: 40px;
  border-radius: 50% !important;
}

#questiontodisplaycontainer {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  z-index: 1000000;
  display: none;
}

/* #counterbox {
  width: 60px;
  height: 60px;
  border: 3px solid #d55e40;
  background: var(--redColor);
  color: #eee;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 32px;
  top: 10px;
  left: 2px;
  position: fixed;
  z-index: 10000000 !important;
  border-radius: 50%;
} */
#counterbox p {
  margin: 5px;
}
#counterbox .fa-times {
  cursor: pointer;
}

/* #pointsvaluebox {
  width: 110px;
  height: 40px;
  border: 3px solid #d55e40;
  background: #fff;
  color: #d55e40;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 32px;
  top: 2px;
  right: 2px;
  position: fixed;
  z-index: 10000000 !important;
  border-radius: 8px;
} */

#leavequestionbtn {
  margin-top: 25px;
  display: none;
}




/*                                                                  start  my change on css            mayar                  */

#questionboxtextonly,
#questionboxtextimg,
#questionboxtextvideo,
#questionboxtextaudio,
#elementboximgonly,
#elementboxvideoonly,
#elementboxaudioonly {
  margin: 10px auto 0 auto;
  display: none;
  height: auto;
  width: 500px;
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translate(-50%,2px);
}
@media screen and (min-width: 1200px){
  #questionboxtextonly,
#questionboxtextimg,
#questionboxtextvideo,
#questionboxtextaudio,
#elementboximgonly,
#elementboxvideoonly,
#elementboxaudioonly{
    width: 900px;

  }
}
@media screen and (min-width: 1580px){
  #questionboxtextonly,
  #questionboxtextimg,
  #questionboxtextvideo,
  #questionboxtextaudio,
  #elementboximgonly,
  #elementboxvideoonly,
  #elementboxaudioonly{
      width: 1200px;
  
    }
}
/* @media screen and (min-width: 3000px){
  #questionboxtextonly,
  #.textimgresponseimgbox img,
  #questionboxtextvideo,
  #questionboxtextaudio,
  #elementboximgonly,
  #elementboxvideoonly,
  #elementboxaudioonly{
      width: 1200px;
  
    }
} */

@media screen and (max-width: 400px) {
  #questionboxtextonly,
#questionboxtextimg,
#questionboxtextvideo,
#questionboxtextaudio,
#elementboximgonly,
#elementboxvideoonly,
#elementboxaudioonly{
    bottom: 25px;

  }
}

#questionboxtextonly .qu,
#questionboxtextimg .qu{

  /*sadh
   font-size: 20px;
  border:3px solid var(--redColor) ;
  background-color: #eee;
  padding: 5px  ;
  border-radius: 9px;
  box-shadow: 0 0 0.9em 0 var(--redColor); */

  /*mlon 2wl 
   font-size: 20px;
  border:3px solid #ed886ddb ;
  background-color: #d55e40;
  border-radius: 9px;
  box-shadow: 0 0 0.9em 0 var(--redColor); */


     /* font-size: 20px;
    border: 3px solid #d55e40;
    background-color: #512d24;
    border-radius: 9px;
    box-shadow: 0 0 0.9em 0 #512d24;
    color: #eee; */


    /*mlwn talt
    font-size: 20px;
    border: 3px solid #7ee3f0;
    background-color: #3f51b5;
    border-radius: 9px;
    box-shadow: 0 0 0.9em 0 #3f51b5;
    color: #eee; */

    /*mlwn rab3
    font-size: 20px;
    border: 3px solid #ca7974;
    background-color: #964e49;
    border-radius: 9px;
    box-shadow: 0 0 0.9em 0 #964e49;
    color: #eee; */

    /*neon 8we m3 black
    font-size: 20px;
  border:3px solid var(--redColor) ;
  background-color: #000;
  color: #eee;
  padding: 5px  ;
  border-radius: 9px;
  box-shadow: -2px 2px 1.5em #d55e40, inset 0 0 1em #d55e40; */
  /* 
  neon 8we m3 #eee
  font-size: 20px;
  border:3px solid #eee ;
  background-color: #000;
  color: #eee;
  padding: 5px  ;
  border-radius: 9px;
  box-shadow: -2px -2px 0.5em 1px #d55e40, 2px 2px 0.5em 1px #d55e40, inset 0 0 1.2em 2px #d55e40 */

  /*neon 8we m3 duble border
   font-size: 20px;
  border:3px solid var(--redColor) ;
  background-color: #000;
  color: #eee;
  padding: 5px  ;
  border-radius: 9px;
  box-shadow: -2px 2px 1.5em #d55e40, inset 0 0 1em #d55e40; */
  font-size: 20px;
  border:3px solid var(--redColor) ;
  background-color: #000;
  color: #eee;
  padding: 5px  ;
  border-radius: 9px;
  box-shadow: -2px 2px 1.5em #d55e40,;
  text-shadow: 2px 2px #d55e40;

} 

#questionboxtextonly label,
#questionboxtextimg label{
 /* overflow: hidden;
font-size: 20px;
position: relative;
padding: 0;
margin-bottom: 0;
border-radius: 9px;
text-align: left !important;
padding-left:15px ;
cursor: pointer;
color:#222;
outline: none;
background-color: #f8f9fa;
border: 3px solid var(--redColor);
box-shadow:0 0 0.9em 0 var(--redColor); */

/* mlon 2wl 
overflow: hidden;
font-size: 20px;
position: relative;
padding: 0;
margin-bottom: -3px;
border-radius: 9px;
text-align: left !important;
padding-left: 15px;
cursor: pointer;
color: #eee;
outline: none;
background-color: #d55e40;
border: 3px solid #ed886ddb;
box-shadow: 0 0 0.5em 0 var(--redColor); */

/* overflow: hidden;
font-size: 20px;
position: relative;
padding: 0;
margin-bottom: -3px;
border-radius: 9px;
text-align: left !important;
padding-left: 15px;
cursor: pointer;
color: #eee;
outline: none;
background-color: #512d24;
border: 3px solid #d55e40; */
/* box-shadow: 0 0 0.5em 0 #512d24; */
/* box-shadow: -10px 2px 1em 0 #964e49,-8px -9px 1em 0 #964e49,12px -2px 1em 0 #964e49,8px 9px 1em 0 #964e49; */

    /*mlon talt
    overflow: hidden;
    font-size: 20px;
    position: relative;
    padding: 0;
    margin-bottom: -3px;
    border-radius: 9px;
    text-align: left !important;
    padding-left: 15px;
    cursor: pointer;
    color: #eee;
    outline: none;
    background-color: #3f51b5;
    border: 3px solid #7ee3f0;
    box-shadow: 0 0 0.5em 0 #3f51b5; */

    /*mlwn rab3
    overflow: hidden;
    font-size: 20px;
    position: relative;
    padding: 0;
    margin-bottom: -3px;
    border-radius: 9px;
    text-align: left !important;
    padding-left: 15px;
    cursor: pointer;
    color: #eee;
    outline: none;
    background-color: #964e49;
    border: 3px solid #ca7974;
    box-shadow: 0 0 0.5em 0 #964e49; */

    /*neon 8we m3 black
      overflow: hidden;
    font-size: 20px;
    position: relative;
    padding: 0;
    margin-bottom: 0;
    border-radius: 9px;
    text-align: left !important;
    padding-left:15px ;
    cursor: pointer;
    color:#eee;
    outline: none;
    background-color: #000;
    border: 3px solid var(--redColor);
    box-shadow: -2px -2px 0.5em #d55e40, inset 0 0 1.2em #d55e40; */
    
    /* neon 8we m3 #eee
    overflow: hidden;
    font-size: 20px;
    position: relative;
    padding: 0;
    margin-bottom: 0;
    border-radius: 9px;
    text-align: left !important;
    padding-left:15px ;
    cursor: pointer;
    color:#eee;
    outline: none;
    background-color: #000;
    border: 3px solid #eee;
    box-shadow: -2px -2px 0.5em 1px #d55e40, 2px 2px 0.5em 1px #d55e40, inset 0 0 1.2em 2px #d55e40 */

    /*neon 8we m3 duble border
     overflow: hidden;
    font-size: 20px;
    position: relative;
    padding: 0;
    margin-bottom: -5px;
    border-radius: 9px;
    text-align: left !important;
    padding-left:15px ;
    cursor: pointer;
    color:#eee;
    outline: none;
    background-color: #000;
    border: 3px solid var(--redColor);
    box-shadow: -2px -2px 0.5em #d55e40, inset 0 0 1.2em #d55e40; */
    overflow: hidden;
    font-size: 20px;
    position: relative;
    padding: 0;
    margin-bottom: -5px;
    border-radius: 9px;
    text-align: left !important;
    padding-left:15px ;
    cursor: pointer;
    color:#eee;
    outline: none;
    background-color: #000;
    border: 3px solid var(--redColor);
    box-shadow: -2px -2px 0.5em #d55e40;
    text-shadow: 1px 2px #d55e40;

    /* box-shadow: 2px 4px 2em 1px #d44e40; */
}
.bord{
  
  /*bl sadh ben7zf*/
  /* border: 3px solid #eee;
  padding: 1px 1px 0 1px;
  background: #d55e40;
  border-radius: 9px;
  box-shadow: 0 0 1em 0 var(--redColor); */

/* mlon talt
  border: 3px solid #eee;
  padding: 1px 1px 0 1px;
  background: #3f51b5;
  border-radius: 9px;
  box-shadow: 0 0 1em 0 #3f51b5; */

  /* border: 3px solid #eee;
  padding: 1px 1px 0 1px;
  background: #964e49;
  border-radius: 9px;
  box-shadow: -5px 1px 1em 0 #964e49, -1px -4px 1em 0 #964e49, 5px -1px 1em 0 #964e49, 2px 2px 1em 0 #964e49; */
  /* box-shadow: 0 0 1em 0 #964e49; */
  /* border: 3px solid #eee;
  padding: 1px 1px 0 1px;
  background: #000;
  border-radius: 9px;
  box-shadow: -2px -2px 0.5em 1px #d55e40, 2px 2px 0.5em 1px #d55e40, inset 0 0 1.2em 2px #d55e40 */

  border: 2px solid #eee;
  padding: 1px 1px 0 1px;
  background: #000;
  border-radius: 9px;
  box-shadow: -4px -3px 0.5em 1px #d55e40, 4px 3px 0.5em 1px #d55e40, inset 0 0 1.2em 2px #d55e40;
}
.bord2{
  border: 3px solid #D55E40;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  box-shadow: -4px -3px 0.5em 1px #d55e40, 4px 3px 0.5em 1px #d55e40;
  text-shadow: 1px 2px #d55e40;
}
.bord3{
  border: 3px solid #eee;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top:12px;
  animation: iconM7 1s 2s linear 9;
  transform: translate(-50%, 2px);
}
.bord4{
  border: 4px solid #d55e40;
  border-radius: 26px;
  height: 100%;
  width: 100%;
  box-shadow: -4px -3px 0.5em 1px #d55e40, 4px 3px 0.5em 1px #d55e40;
}
#questionboxtextonly label.colorTrue,
#questionboxtextimg label.colorTrue{
  background-color: green !important;
  border-color:  #eee;
  color:#eee;
  visibility:none !important
}
#questionboxtextonly label.colorFalse,
#questionboxtextimg label.colorFalse{
  background-color: red ;
  border-color:  #eee !important;
  color:#eee;
}
#questionboxtextonly label.display,
#questionboxtextimg label.display{
  pointer-events: none;
}
#questionboxtextonly label.colorCheck,
#questionboxtextimg label.colorCheck{
  background-color:#ff9800;
  border-color:  #eee !important;
  color:#eee;
}


#questionboxtextonly label span,
 #questionboxtextimg label span {
  /*sadh
  position: absolute;
  padding: 0 5px;
  font-size: 14px;
  border-radius: 9px;
  text-align: center;
  right: -3px;
  top: -3px;
  height: 115%;
  line-height: 32px;
  outline-color: none;
  background-color: #000;
  color:#eee;
  border: 3px solid var(--redColor); */



  /* mlwn 2wl
   position: absolute;
  padding: 0 5px;
  font-size: 14px;
  border-radius: 9px;
  text-align: center;
  right: -3px;
  top: -3px;
  height: 115%;
  line-height: 32px;
  background-color: #d55e40;
  color: #eee;
  border: 3px solid #ed886ddb; */

  /* position: absolute;
    padding: 0 5px;
    font-size: 14px;
    border-radius: 9px;
    text-align: center;
    right: -3px;
    top: -3px;
    height: 115%;
    line-height: 32px;
    background-color: #512d24;
    color: #eee;
    border: 3px solid #d55e40; */

    /*mlon talt
     position: absolute;
    padding: 0 5px;
    font-size: 14px;
    border-radius: 9px;
    text-align: center;
    right: -3px;
    top: -3px;
    height: 115%;
    line-height: 32px;
    background-color: #3f51b5;
    color: #eee;
    border: 3px solid #7ee3f0; */

    /*
    mlwn al rab3
    position: absolute;
    padding: 0 5px;
    font-size: 14px;
    border-radius: 9px;
    text-align: center;
    right: -3px;
    top: -3px;
    height: 115%;
    line-height: 32px;
    background-color: #964e49;
    color: #eee;
    border: 3px solid #ca7974; */
    
    /*neon 8we m3 black
     position: absolute;
  padding: 0 5px;
  font-size: 14px;
  border-radius: 9px;
  text-align: center;
  right: -3px;
  top: -3px;
  height: 115%;
  line-height: 32px;
  outline-color: none;
  background-color: #000;
  color:#eee;
  border: 3px solid var(--redColor);
  box-shadow: -2px -2px 0.5em #d55e40, inset 0 0 0.8em #d55e40; */
  
  
  /*neon 8we m3 #eee
   position: absolute;
  padding: 0 5px;
  font-size: 14px;
  border-radius: 9px;
  text-align: center;
  right: -3px;
  top: -3px;
  height: 115%;
  line-height: 32px;
  outline-color: none;
  background-color: #000;
  color:#eee;
  border: 3px solid #eee;
  box-shadow: -2px -2px 0.5em 1px #d55e40, inset 0 0 0.8em 1px #d55e40; */

   position: absolute;
  padding: 0 5px;
  font-size: 14px;
  border-radius: 9px;
  text-align: center;
  right: -3px;
  top: -3px;
  height: 115%;
  line-height: 32px;
  outline-color: none;
  background-color: #000;
  color:#eee;
  border: 3px solid var(--redColor);
  box-shadow: -2px -2px 0.5em #d55e40, inset 0 0 0.8em #d55e40;
}
#questionboxtextonly label div,
#questionboxtextimg label div{
  background-color:  rgb(127 76 0 / 26%) !important;
  height: 50px;
  position: absolute;
  top:0;
  left: 0;
  width: 0%;
  transition: all 9s  !important;
}



#counterbox {
  width: 60px;
  height: 60px;
  /* border: 3px solid #d55e40;
  background: var(--redColor); */
  border: 3px solid #eee;
  background-color: #000;
  color: #eee;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  line-height: 32px;
  top:12px;
  left: 10px;
  position: fixed;
  z-index: 10000000 !important;
  border-radius: 50%;
}
@media screen and (max-width: 400px) {
  #counterbox{
    width: 54px;
    height: 54px;
    font-size: 22px;
  }
}

#pointsvaluebox {
  width: 120px;
  height: 54px;
  border: 3px solid #eee;
  padding: 1px;
  background-color: #000;
  color: #eee;
  font-size: 31px;
  font-weight: 500;
  text-align: center;
  line-height: 37px;
  top: 12px;
  right: 10px;
  position: fixed;
  z-index: 10000000 !important;
  border-radius: 26px;
}
.al{
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 2px #d55e40;
 
}
.al .icon{
  margin-bottom: 15px;
  margin-left: 3px;
  color: #ede900;
}
.iconclear{
  color: #fff;
  /* position: absolute;
  left: 50%;
  top:42px;
  transform: translate(-50%,-50%); */
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: #000;
  border: 3px solid #D55E40;
  border-radius: 50%;
  padding: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 26px;
  border: 3px solid #D55E40;
  box-shadow: -4px -3px 0.5em 1px #d55e40, 4px 3px 0.5em 1px #d55e40;
  text-shadow: 1px 2px #d55e40;

}
@media screen and (max-width: 450px) {
  .iconclear{
    
    font-size: 23px;
   
  }
  .bord3{
    left: 40%;
    width: 54px;
    height: 54px;
  }
}
@keyframes iconM7{
  0%,
  100% {
    transform: translate(-60%,2px);
  }
  50% {
    transform: translate(-40%,2px);
  }
 
  
}




                            /*start floating action buttons*/
.flab{
  position: absolute;
  top: 40px;
  right: 10px;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  
}
.flab .two{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
  margin-bottom: -8px;
  margin-right: -4px;
}
.flab  .two p{
  font-size: 18px;
  background:rgba(255, 255, 255, 0.1);
  color: #eee;
  font-weight: bold;
  padding: 3px 8px;
  margin-right:5px ;
  transform: translate(0%,9%);
  border-bottom-left-radius: 12px !important;
}
.flab .icon{
  /*icon al shm 8bl al neon
  border-radius: 50%;
  background-color: var(--redColor);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.7s; */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  border: 2px solid #eee;
  transition: all 0.7s;
  
}
.flab  .ani{

  animation: trimg 2s linear infinite;
}
.flab .icon svg{
  color:#fff;
  font-size: 20px;
  text-align: center;
  background-color: #000;
  border: 2px solid var(--redColor);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 0.5em 2px #d55e40;
}
.flab .true{
  
  transform: rotate(-180deg);
}


@keyframes trimg {
  0%,
  100% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-3px);
    
  }
}
.flab ul li{
  font-size: 15px;
  text-align: right;
  margin-bottom: 5px;
  padding: 3px 2px 2px 3px;
  cursor: pointer;
  background:rgba(255, 255, 255, 0.1);
  color: #eee;
  position: relative;
}

.flab ul li::after{
  content: "";
  position: absolute;
  /* bottom: 3px;
  right: -22px;
  border-width: 11px; */
  bottom: 0px;
  right: -26px;
  border-width: 13px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.1);
}


@media screen and (max-width: 450px) {
  .flab ul li{
    font-size: 11px;
  }
  .flab .two{
    margin-bottom: -11px;
  }
  .flab  .two p{
    font-size: 15px;
  }
  .flab ul li::after {
    bottom: 0px;
  right: -22px;
  border-width: 11px; 
  }
  /*mshna al icon 8bl al neno
   .flab ul .mix {
    margin-bottom: -8px !important;
  }
  .flab ul .mix .iconflab{
    margin-left: 11px;
  } */

  .flab ul .mix .iconflab{
    box-shadow: 0px 0px 0.5em 1px #d55e40 !important;

  }

}


.flab ul .mix{
  display: flex;
  font-size: 16px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: -2px;
}


.flab .bord5{
  border:1px solid #eee;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 13px;
  font-size: 20px;
} 


.flab ul .mix .iconflab{

  /*al icon 8bl ma t9er neon
   margin-bottom: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 3px;
  margin-top: 3px;
  cursor: pointer;
  margin-left: 13px; */
  margin-bottom: 10px;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 3px;
  cursor: pointer;
  border: 1px solid var(--redColor);
  box-shadow: 0px 0px 0.5em 2px #d55e40;
  
}
.flab ul .mix .coins{
  margin-right: 1px;
}

.flab ul .mix .one{
  /* color: #f90eb7;
  background:rgba(255, 255, 255, 0.1); */
  /* color: #eee;
  background-color: var(--redColor); */
  /* background-color: #023550;
  color: #eee; */
  /* background:rgba(255, 255, 255, 0.1);
  color: #d04e1f; */
  /* background-color:  #d04e1f;
  color: #EEE; */
 

}
.flab ul .mix .twoo{
  /* color: #ed6ff3;
  background:rgba(255, 255, 255, 0.1); */
  /* color: #eee;
  background-color: var(--redColor); */
  /* background-color: #044261;
  color: #eee; */
  /* background:rgba(255, 255, 255, 0.1);
  color: #f8aa35; */
  /* background-color: #e48900;
  color: #EEE; */
}
.flab ul .mix .three{
  /* color: #ffee00;
  background:rgba(255, 255, 255, 0.1); */
  /* color: #eee;
  background-color: var(--redColor); */
  /* background-color: #045076;
  color: #eee; */
  /* background:rgba(255, 255, 255, 0.1);
  color: #ede900; */
  /* background-color: #bcb804;
  color: #eee; */
}
.flab ul .mix .four{
  /* color: #0088cc; */
  /* background:rgba(255, 255, 255, 0.1); */
  /* color: #eee;
  background-color: var(--redColor); */
  /* background-color: #0088cc;
  color: #eee; */
  /* background:rgba(255, 255, 255, 0.1);
  color: #0088cc; */
  /* background-color:#0088cc;
  color: #eee; */
}

/* 
 body #main-container #screens .participant-window {
  background: url(/image.jpg) ;
}  */


                                /*end floating action buttons*/

/*                                                                  end  my change on css                        mayar      */

#questionboxtextonly::-webkit-scrollbar,
#questionboxtextimg::-webkit-scrollbar,
#questionboxtextvideo::-webkit-scrollbar,
#questionboxtextaudio::-webkit-scrollbar,
#elementboximgonly::-webkit-scrollbar,
#elementboxvideoonly::-webkit-scrollbar,
#elementboxaudioonly::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0px;
}
#questionboxtextonly::-webkit-scrollbar-thumb,
#questionboxtextimg::-webkit-scrollbar-thumb,
#questionboxtextvideo::-webkit-scrollbar-thumb,
#questionboxtextaudio::-webkit-scrollbar-thumb,
#elementboximgonly::-webkit-scrollbar-thumb,
#elementboxvideoonly::-webkit-scrollbar-thumb,
#elementboxaudioonly::-webkit-scrollbar-thumb {
  background: #D55E40;
  border-radius: 0px;
}

#elementboximgonly img {
  max-width: 100%;
  max-height: 220px;
  width: auto;
  height: auto;
}

#uploadQstFileLabel,
#uploadQstFileLabelquestionvideo,
#uploadQstFileLabelquestionaudio,
#uploadQstFileLabelelementimg,
#uploadQstFileLabelelementvideo,
#uploadQstFileLabelelementaudio,
.uploadQstFileLabel {
  width: 90%;
  height: 120px;
  line-height: 100px;
  font-size: 32px;
  text-align: center;
  margin: 10px 5%;
  background: rgba(213, 94, 64, 0.4);
  border: 4px dashed #d55e40;
  border-radius: 5px;
  cursor: pointer;
}

#videoqstfile,
#imgqstfile,
#audio-file-selector,
#audio-fileelement-selector,
#videoelementfile,
#imgelement {
  display: block;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  position: absolute;
  background: red !important;
  height: 100%;
  opacity: 0;
}

/* img, video, audio questions */
#imgqstfileuploadbtnsm,
#videoqstfileuploadbtnsm,
#audioqstfileuploadbtnsm,
#imgeltfileuploadbtnsm,
#videoeltfileuploadbtnsm,
#audioeltfileuploadbtnsm {
  display: none;
}

#output_image,
#output_imageelement {
  width: 100%;
  max-width: 400px;
}

.modal {
  z-index: 20000000 !important;
}

#output_video {
  height: 0;
  width: 100%;
}

#output_videoelement {
  height: 0;
  width: 100%;
}

#output_audio,
#output_audioelement,
#edit_output_audio {
  outline: none;
}
#output_audio p,
#output_audioelement p,
#edit_output_audio p {
  background: #d55e40;
}

#audioelementreader,
#audioreader {
  display: none;
  width: 100%;
}

#editaudioreader,
#editaudioelementreader {
  width: 100%;
}

.btn-group-toggle .active {
  border: 2px solid #d55e40;
  color: #fff !important;
  box-shadow: none !important;
}
.btn-group-toggle .response-btn {
  width: calc(50% - 20px);
  height: 60px;
  border: none;
  outline: none;
  background: #ccc;
  border: 2px solid #555;
  color: #000;
  margin: 10px;
  line-height: 40px;
  font-size: 22px;
  font-weight: 500;
}

.qstpart p,
.qstpart i {
  cursor: pointer;
}

.question-item-btns {
  display: flex;
  flex-direction: row;
}

.question-item-btns .dropdown {
  margin-left: 3px;
}

.addquestionoptionbtn {
  float: right;
  border-radius: 50% !important;
}

#iframe_video {
  height: 0;
  width: 100%;
}

/* Validation messages */
#questiontextalert,
#inputvalidation,
#checkboxvalidation,
#responsesequal,
#imgfilealert,
#imgquestiontextalert,
#imgresponsesequal,
#imginputvalidation,
#imgcheckboxvalidation,
#videofilealert,
#videoquestiontextalert,
#videoresponsesequal,
#videoinputvalidation,
#videocheckboxvalidation,
#audiofilealert,
#audioquestiontextalert,
#audioresponsesequal,
#audioinputvalidation,
#audiocheckboxvalidation,
#imgelementfilealert,
#imgelementtitlealert,
#videoelementfilealert,
#videoelementtitlealert,
#audioelementfilealert,
#audioelementtitlealert,
#editquestiontextalert,
#editresponsesequal,
#editinputvalidation,
#editcheckboxvalidation,
#editimgfilealert,
#editimgquestiontextalert,
#editimgresponsesequal,
#editimginputvalidation,
#editimgcheckboxvalidation,
#editvideofilealert,
#editvideoquestiontextalert,
#editvideoresponsesequal,
#editvideoinputvalidation,
#editvideocheckboxvalidation,
#editaudiofilealert,
#editaudioquestiontextalert,
#editaudioresponsesequal,
#editaudioinputvalidation,
#editaudiocheckboxvalidation,
#editimgqstProgress,
#editvideoqstProgress,
#editaudioqstProgress,
#editimgElementProgress,
#editimgelementfilealert,
#editimgelementtitlealert,
#editvideoelementfilealert,
#editvideoelementtitlealert,
#editvideoElementProgress,
#editaudioelementfilealert,
#editaudioelementtitlealert,
#editaudioElementProgress {
  display: none;
}

.alert-text {
  padding: 4px 10px;
  background: rgba(255, 0, 0, 0.3);
  color: #ff0000;
  font-size: 18px;
  margin: 4px 20px 0 20px;
}

.closemodalbtnx {
  width: 35px !important;
  height: 35px !important;
  padding: 0 !important;
  line-height: 15px;
  right: 2px;
  top: 2px;
  position: absolute;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.8) !important;
  border-radius: 50%;
  transition: 0.5s;
}
.closemodalbtnx .fas {
  margin: 0 !important;
}
.closemodalbtnx:hover {
  background: white !important;
}
.closemodalbtnx:focus {
  outline: none;
}

.modal-sm {
  min-width: 400px !important;
  margin-top: 10px !important;
}

.close:focus {
  outline: none;
}

#imagequestionmodal,
#videoquestionmodal,
#audioquestionmodal {
  overflow-y: scroll;
}

.editedimgbox,
.editedvideobox,
.editedaudiobox,
.editedaudioelementbox {
  max-width: 100%;
  position: relative;
}

.editedimgbox img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.editedvideobox video {
  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.editfilebtn {
  width: 30px;
  height: 30px;
  padding: 0 !important;
  line-height: 30px !important;
  border-radius: 50% !important;
  top: 5px;
  left: 5px;
  position: absolute;
}

.editaudiobtn {
  width: 30px;
  height: 30px;
  padding: 0 !important;
  line-height: 30px !important;
  border-radius: 50% !important;
  top: 5px;
  right: 2px;
  position: absolute;
  margin-right: 0;
  margin-top: 8px;
  margin-left: 5px;
}

#editimgquestion,
#editvideoquestion,
#editvideoelementquestion,
#editimgelementquestion {
  display: none;
}

#edit-audioelement-file-selector,
#edit-audio-file-selector {
  display: none;
}

.responsebtninit {
  background: #f8f9fa;
  border: 3px solid #f8f9fa;
  text-align: center;
  height: 40px;
  line-height: 35px;
  padding: 0;
  border-radius: 4px;
}

#check01,
#check02,
#check03,
#check04,
#imgcheck01,
#imgcheck02,
#imgcheck03,
#imgcheck04 {
  display: none;
}

#videocheck01,
#videocheck02,
#videocheck03,
#videocheck04 {
  display: none;
}

#audiocheck01,
#audiocheck02,
#audiocheck03,
#audiocheck04 {
  display: none;
}

#imgQuestionProgress,
#videoQuestionProgress,
#audioQuestionProgress,
#imgElementProgress,
#videoElementProgress,
#audioElementProgress {
  display: none;
}

#changeimgqstbtnsm,
#addimgeltbtnsm,
#changevideoqstbtnsm,
#changevideoeltbtnsm {
  top: 0;
  left: 0;
  margin: 5px 0 0 5px;
  position: absolute;
  display: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0;
  line-height: 32px;
  z-index: 10000;
}

#changeaudioqstbtnsm,
#changeaudioeltbtnsm {
  top: 0;
  right: 4px;
  margin: 8px 0 0 5px;
  position: absolute;
  display: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 0;
  line-height: 32px;
}

.previewicon {
  display: none;
}

.previewtxt {
  display: block;
}

.relative {
  position: relative !important;
}
/*start change on image mayar*/
.textimgresponseimgbox {
    /* background: transparent;
    margin: 17px auto;
    width: 90%;
    max-height: 300px !important; 
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%); */
    min-height: 450px;
  max-height: 220px;
  width: 100%;
  background: transparent;
  position: relative;
  }

  @media screen and (max-width: 1200px) {
    .textimgresponseimgbox img{
      width: 90% !important;
      object-fit: contain;
      background-color: #000;
    }
    
  }
  @media screen and (max-width: 576px) {
    .textimgresponseimgbox {
      min-height: 265px;
    }
  }
  @media screen and (max-height: 601px) {
    .textimgresponseimgbox {
      min-height: 265px !important;
    }
  }
  @media screen and (min-width: 578px) {
    .textimgresponseimgbox {
      min-height: 375px;
    }
  }
  @media screen and (min-width: 1200px) {
    .textimgresponseimgbox {
      min-height: 445px;
    }
  }

.textimgresponseimgbox img {
  /* max-height: 100%;
  max-width: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 13px;
  margin: auto;
  position: absolute; */
  /* box-shadow: -4px -3px 0.5em 1px #d55e40, 4px 3px 0.5em 1px #d55e40, 4px -3px 0.5em 1px #d55e40, -3px 4px 0.5em 1px #d55e40; */
  max-height: 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  border-radius: 9px;
  box-shadow: -4px -3px 0.5em 0px #d55e40, 4px 3px 0.5em 0px #d55e40, 4px -3px 0.5em 0px #d55e40, -3px 4px 0.5em 0px #d55e40;

}
/*end change on image mayar*/
.textimgresponseimgbox video {
  max-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.prevewimgbox {
  max-height: 220px;
  width: 100%;
  position: relative;
  background: transparent;
}
.prevewimgbox img {
  max-height: 220px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.prevewimgbox video {
  max-height: 220px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.preveweditimgbox {
  max-height: 220px;
  width: 100%;
  position: relative;
  background: transparent;
  padding: 0 auto;
}
.preveweditimgbox img {
  height: auto;
  max-height: 220px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.preveweditimgbox video {
  height: auto;
  max-height: 220px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (max-width: 991px) {
  .btn-group-toggle .response-btn {
    width: 100%;
    margin: 10px 0;
  }
}
@media screen and (max-width: 768px) {
  #questionboxtextonly,
#questionboxtextimg,
#questionboxtextvideo,
#questionboxtextaudio,
#elementboximgonly,
#elementboxvideoonly,
#elementboxaudioonly {
    margin: 50px auto 0 auto;
  }
}
@media screen and (max-width: 576px) {
  #questionboxtextonly,
#questionboxtextimg,
#questionboxtextvideo,
#questionboxtextaudio,
#elementboximgonly,
#elementboxvideoonly,
#elementboxaudioonly {
    margin: 50px auto 0 auto;
    width: 373px;
  }

  #imgqstfileuploadbtnsm,
#imgqstfileuploadbtnsm,
#videoqstfileuploadbtnsm,
#audioqstfileuploadbtnsm,
#imgeltfileuploadbtnsm,
#videoeltfileuploadbtnsm,
#audioeltfileuploadbtnsm {
    display: block;
  }

  .previewicon {
    display: block;
  }

  .previewtxt {
    display: none;
  }

  .modal-sm {
    min-width: 100% !important;
    margin: 0 !important;
  }

  #editaudioreader,
#editaudioelementreader {
    width: calc(100% - 10px);
    margin-right: 10px;
  }
}

/*# sourceMappingURL=updatestyles.css.map */
