/* Global Classes*/
.radius-0 {
	border-radius: 0;
}
.radius-bottom-left {
	border-bottom-left-radius: 12px !important;
}

#participantvolumemute,
#activerequestvolumemute,
#activerequestvolumedown,
#participantvolumedown {
	display: none;
	margin: auto;
}
#activerequestvolumeup,
#participantvolumeup {
	margin: auto;
}

.aratok-bg {
	background: #D55E40 !important;
	color: #fff !important;
}
.aratok-bg:hover {
	background: #923f2a !important;
	color: #fff !important;
}
.text-aratok {
	color: #D55E40 !important;
}
.text-aratok:hover {
	color: #D55E00 !important;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: #bbb;
  height: 9px;
  &:focus {
  	outline: none;
  }
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: -1px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #D55E40;
}
input[type="range"]:hover ~ #rangevalue,
input[type="range"]:active ~ #rangevalue {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  top: -5px;
}

body {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: #000;
	bottom: 0;
	position: absolute;
	#main-container {
		width: 100%;
		height: 100vh;
		bottom: 0px;
		height: auto;
		position: absolute;
		background: #151515;
		color: #fff;
		#screens {
			width: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: #151515;
			position: absolute;
			display: flex;
	    	flex-wrap: wrap;
			.participant-window {
				border: 1px solid rgba(255,255,255,.3);
				position: relative;
				.participant-name {
					box-sizing: border-box;
					bottom: 0;
					left: 0;
					margin-left: 2px;
					margin-bottom: 10px;
					position: absolute;
					font-size: 14px;
					button {
						margin-right: 0px;
						height: 25px;
						padding: 0;
						width: 25px;
						font-size: 14px;
						margin-left: 0px;
						border-radius: 50%;
						background: rgba(255,255,255,.1);
						color: #fff;
						box-shadow: none;
						&:hover,
						&:focus {
							background: rgba(255,255,255,.5);
						}
					}
				}
			}
		}
		.top-right-box {
			top: 0;
			right: 0;
			position: absolute;
			height: auto;
			display: flex;
			flex-direction: row;
			z-index: 10000;
			span {
				line-height: 40px;
				padding: 0 5px;
			}
			button {
				height: 40px;
				margin: 1px;
				border-radius: 0;
				.fa-comment-dots {
					font-size: 22px;
				}
			}
			.volumetop-right {

			}

			#settingdropmenu {
				.btn-bottom-menu {
					background: transparent !important;
					outline: none !important;
					border: none !important;
					font-size: 18px;
					&:hover {
						background: rgba(0, 0, 0, .1) !important;
						outline: none;
					}
					&:focus {
						box-shadow: none !important;
					}
				}
				.dropdown-menu {
					width: 250px;
					margin-top: 25px !important;
					padding-bottom: 1px !important;
					margin-right: -40px !important;
					z-index: 5001 !important;
					.dropdown-item {
						display: flex;
						flex-direction: row;
						line-height: 30px !important;
						font-size: 15px !important;
						cursor: pointer;
						&:focus {
							background: #d5d5d5 !important;
							color: #000 !important;
						}
						#dropdownicon {
							font-size: 18px !important;
							margin-top: 6px !important;
							margin-right: 15px !important;
						}
					}
				}
			}
		}
		
	}

	#bottom-navs {
		height: 55px;
		width: 100%;
		bottom: 0;
		right: 0;
		left: 0;
		background: rgba(255,255,255,.1);
		position: absolute;
		display: flex;
		flex-direction: row;
		#bottom-navs-left {
			width: 350px;
			height: 55px;
			background: rgba(255,255,255,0);
			line-height: 55px;
			padding-left: auto;
		}
		#bottom-navs-middle {
			width: 150px;
			height: 55px;
			background: rgba(255,255,255,0);
			line-height: 55px;
			transition: 0.5s;
			display: flex;
			flex-direction: row;
			
			#adminbtnsbox {
				width: auto;
				display: flex;
				flex-direction: row;
				justify-content: center;
				padding-top: 8px;
				background: transparent;
				margin-left: -13px;
				button {
					padding: 0;
					border-radius: 50%;
					box-shadow: none;
					width: 40px;
					height: 40px;
					font-size: 16px;
					text-align: center;
					margin: 0 2px 0 0;
					display: block;
				}
			}
			#reactionbtnsbox {
				width: auto;
				display: flex;
				flex-direction: row;
				background: transparent;
				padding-top: 8px;
				justify-content: center;
				margin-left: 22px;
				button {
					display: none;
					border-radius: 50%;
					box-shadow: none;
					width: 40px;
					height: 40px;
					padding: 0;
					font-size: 30px;
					margin: 0 2px;
					background: rgba(255,255,255,.1);
					&:hover {
						background: rgba(255,255,255,.5);
					}
				}
				.fa-grin-hearts {
					color: #f7f6ff;
				}
				.fa-heart {
					color: red;
				}
			}
		}
		#bottom-navs-right {
			max-width: 350px;
			height: 55px;
			background: rgba(255,255,255,0);
			line-height: 55px;
			transition: 0.8s;
			.inputbox {
				width: 100%;
				padding-right: 8px;
				display: flex;
				flex-direction: row;
				#messageinput {
					width: 250px;
					transition: 0.8s;
					box-shadow: none;
				}
				.btn-group {
					.dropdown-menu {
						margin-bottom: 10px;
						margin-left: -50px;
						padding: 2px !important;
						.dropdown-item {
							height: 40px !important;
							color: #fff;
							line-height: 40px;
							background: #D55E40;
							font-size: 16px;
							transition: 0.8s;
							&:hover {
								background: #fff;
								color: #D55E40;
							}
							&:hover {
								background: #D55E40;
								color: #000;
							}
						}
					}
				}
				#askmicrobtn {
					margin-left: 5px;
					box-shadow: none;
					background: #f8f9fa;
					border-radius: 50%;
					transition: 0.5s;
					width: 40px;
					height: 40px;
					padding: 0 !important;
					&:hover {
						background: #D55E40;
						color: #f8f9fa;
					}
					&:focus {
						background: #D55E40;
						color: #f8f9fa;
					}
					.spinner-border {
						width: 25px;
						height: 25px;
						display: none;
						margin-left: 6px;
					}
				}
				#sendmsgbtn {
					color: #D55E40;
					background: rgba(255,255,255,0);
					box-shadow: none;
					transition: 0.5s;
					padding: 1px 8px !important;
					font-size: 22px;
					&:hover {
						background: rgba(255,255,255,.2);
					}
					&:focus {
						background: rgba(255,255,255,.2);
					}
				}
				input {
					height: 37px;
					margin: 9px 4px;
					border-radius: 25px;
				}
				button {
					margin: auto;
				}
			}
		}
	}

	#right-msg {
		bottom: 55px;
		right: 0;
		position: absolute;
		color: #fff;
		width: 0px;
		background: transparent;
		border-top-left-radius: 12px;
		transition: 0.4s;
		box-sizing: border-box;
		overflow: hidden;
		#right-msg-content {
			padding: 10px;
			width: 100%;
			min-width: 270px;
			bottom: 55px;
			height: 100%;
			background: transparent;
			overflow-y: scroll;
			&::-webkit-scrollbar {
			    width: 6px;
			    background: rgba(255,255,255,0.3);
			    border-radius: 0px;
			}
			&::-webkit-scrollbar-thumb {
				background: #D55E40;
				border-radius: 5px;
			}
			.msg-item {
				background: transparent;
				.msg-item-header {
					padding: 0 !important;
					background: transparent;
					display: flex;
					flex-direction: row;
					#sender-name {
						height: 30px;
						line-height: 30px;
						background: rgba(218,126,103,1);
						padding: 0 5px 0 0 !important;
						border-radius: 6px 0 0 0 !important;
						display: flex;
						flex-direction: row;
						button {
							padding: 0 !important;
							box-shadow: none;
							height: 30px;
							width: 20px;
							margin: -4px 8px 0 0 !important;
							border-radius: 6px 0 0 0 !important;
						}
					}
				}
				#msg-item-body {
					padding: 5px;
					border-radius: 6px 0 6px 6px;
					background: rgba(218,126,103,1);
				}
			}
		}
	}
	#right-users {
		bottom: 55px;
		right: 0;
		position: absolute;
		color: #fff;
		width: 0px;
		background: rgba(255,255,255,0);
		border-top-left-radius: 12px;
		transition: 0.4s;
		box-sizing: border-box;
		overflow: hidden;
		.nav-tabs {
			width: 100%;
			min-width: 270px;
			border-bottom: none !important;
			.nav-link {
				width: 50%;
				min-width: 135px;
				height: 50px;
				color: #D55E40;
				font-weight: 500;
				font-size: 16px;
				padding-top: 10px !important;
				border-bottom: 3px solid transparent;
				transition: 0.5s;
				&:hover {
					border: none;
					background: rgba(255,255,255,.1);
				}
			}
			.active {
				color: #D55E40 !important;
				border-bottom: 3px solid #D55E40 !important;
				border: none;
				background: transparent;
			}
		}
		.users-content {
			width: 100%;
			min-width: 270px;
			overflow-y: scroll;
		}

		.users-content::-webkit-scrollbar {
		    width: 6px;
		    height: 0;
		    padding: 0;
		    background: #ccc;
		    border-radius: 5px;
		}

		.users-content::-webkit-scrollbar-thumb {
		    background: #D55E40;
		    border-radius: 5px;
		}
	}
	#right-viewer-msg {
		bottom: 55px;
		right: 0;
		position: absolute;
		color: #fff;
		width: 0px;
		background: transparent;
		border-top-left-radius: 12px;
		transition: 0.4s;
		box-sizing: border-box;
		overflow: hidden;
		#right-viewer-msg-content {
			padding: 10px;
			width: 100%;
			min-width: 270px;
			bottom: 55px;
			height: 100%;
			background: transparent;
			overflow-y: scroll;
			&::-webkit-scrollbar {
			    width: 6px;
			    background: rgba(255,255,255,0.3);
			    border-radius: 0px;
			}
			&::-webkit-scrollbar-thumb {
				background: #D55E40;
				border-radius: 5px;
			}
			.msg-item {
				background: transparent;
				.msg-item-header {
					padding: 0 !important;
					background: transparent;
					display: flex;
					flex-direction: row;
					#viewer-sender-name {
						height: 30px;
						line-height: 30px;
						background: rgba(218,126,103,1);
						padding: 0 5px !important;
						border-radius: 6px 0 0 0 !important;
						display: flex;
						flex-direction: row;
						button {
							padding: 0 !important;
							box-shadow: none;
							height: 30px;
							width: 20px;
							margin: -4px 8px 0 0 !important;
							border-radius: 6px 0 0 0 !important;
						}
					}
				}
				#viewer-msg-item-body {
					padding: 5px;
					border-radius: 6px 0 6px 6px;
					background: rgba(218,126,103,1);
				}
			}
		}
	}

}

.list {
	width: 100%;
	.part-btns {
		width: 28px;
		height: 28px;
		border-radius: 50%;
		margin-right: 5px;
		background: rgba(255,255,255,.1);
		border: none;
		outline: none;
		transition: 0.5s;
		&:hover {
			background: rgba(255,255,255,.6);
		}
	}

	hr {
		border-top: 2px dashed rgba(255,255,255,.3);
		margin: 5px 0 !important;
	}
	.users-list-content {
		.user-item {
			display: flex;
			flex-direction: row;
			margin-bottom: 5px;
			.participant-text {
				display: flex;
				flex-direction: row;
				width: calc(100% - 100px);
				line-height: 26px;
				.fa-star {
					/*color: #D55E40;*/
					width: 25px;
					line-height: 26;
					margin-top: 5px;
				}
			}
			.participants-btns-box {
				display: flex;
				flex-direction: row;
				#participantVideo,
				#participantRefresh {
					margin: auto;
				}
				.spinner-border {
					width: 20px;
					height: 20px;
					display: none;
					margin-left: -2px;
				}
			}
		}
	}

	.requests-list-content {
		.request-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			.req-text {
				display: flex;
				flex-direction: row;
				width: calc(100% - 121px);
				line-height: 26px;
				.fa-microphone-alt {
					/*color: #D55E40;*/
					width: 25px;
					line-height: 26;
					margin-top: 5px;
				}
				.fa-video {
					/*color: #D55E40;*/
					width: 25px;
					line-height: 26;
					margin-top: 5px;
				}
			}
			.request-btns-box {
				display: flex;
				flex-direction: row;
				#activeReqDelete,
				#activeReqDown,
				#activeReqRefresh {
					margin: auto;
				}
				.spinner-border {
					width: 20px;
					height: 20px;
					display: none;
					margin-left: -2px;
				}
			}
		}
	}

	.inQueue-list-content {
		padding-bottom: 5px;
		.viewer-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			.viewer-text {
				display: flex;
				flex-direction: row;
				width: calc(100% - 100px);
				line-height: 26px;
				.fa-user {
					/*color: #D55E40;*/
					width: 25px;
					line-height: 26;
					margin-top: 5px;
				}
			}
			.viewer-btn-box {
				padding-left: 10px;
				margin-right: 5px;
				display: flex;
				flex-direction: row;
				background: transparent;
				button {
					width: 26px;
					height: 26px;
					line-height: 26px;
					border-radius: 5px;
					text-align: center;
					font-size: 14px;
					border-radius: 50%;
					margin-right: 5px;
					line-height: 26px;
					box-shadow: none;
					&:focus {
						box-shadow: none;
					}
				}
				#inQueueAccept {
					margin: auto;
				}
				#inQueueReject {
					margin: auto;
				}
				.spinner-border {
					width: 20px;
					height: 20px;
					display: none;
					margin-left: 2px;
				}
				.viewer-more-options-btn {
					background: rgba(255,255,255,.1);
					border: none;
					outline: none;
					transition: .5s;
					color: rgba(255,255,255,.7);
					margin-right: 5px;
					&:hover {
						background: rgba(255,255,255,.4);
					}
				}
			}
		}
	}

	.viewers-list-content {
		padding-bottom: 5px;
		overflow-y: scroll;
		width: 100;
		min-width: 270px;
		&::-webkit-scrollbar {
		    width: 6px;
		    background: #ccc;
		    border-radius: 5px;
		}
		&::-webkit-scrollbar-thumb {
			background: #D55E40;
			border-radius: 5px;
		}
		.viewer-item {
			width: 100%;
			display: flex;
			flex-direction: row;
			.viewer-text {
				display: flex;
				flex-direction: row;
				width: calc(100% - 100px);
				line-height: 26px;
				.fa-user {
					/*color: #D55E40;*/
					width: 25px;
					line-height: 26;
					margin-top: 5px;
				}
			}
			.viewer-btn-box {
				padding-left: 10px;
				margin-right: 5px;
				display: flex;
				flex-direction: row;
				background: transparent;
				button {
					width: 26px;
					height: 26px;
					line-height: 26px;
					border-radius: 5px;
					text-align: center;
					font-size: 14px;
					border-radius: 50%;
					margin-right: 5px;
					line-height: 26px;
					box-shadow: none;
					&:focus {
						box-shadow: none;
					}
				}
				#fabanviewer {
					margin: auto;
				}
				.spinner-border {
					width: 20px;
					height: 20px;
					display: none;
					margin-left: 2px;
				}
				.viewer-more-options-btn {
					background: rgba(255,255,255,.1);
					border: none;
					outline: none;
					transition: .5s;
					color: rgba(255,255,255,.7);
					margin-right: 5px;
					&:hover {
						background: rgba(255,255,255,.4);
					}
				}
			}
		}
	}
}

.search-group {
	width: 100%;
	min-width: 270px;
	background: transparent;
	padding: 2px 5px;
	display: flex;
	flex-direction: row;
	input {
		width: calc(100% - 50px);
		border-radius: 30px 0 0 30px !important;
		border: none;
		height: 32px;
		box-shadow: 0 0 3px 0px rgba(213,94,64,.5);
		&:focus {
			color: #D55E40 !important;
			box-shadow: 0 0 8px 0px rgba(213,94,64,.5);
		}
	}
	button {
		width: 50px;
		height: 32px;
		border-radius: 0 30px 30px 0;
		line-height: 32px;
		text-align: center;
		padding: 0 !important;
		box-shadow: 0 0 3px 0px rgba(213,94,64,.5);
		&:focus {
			box-shadow: 0 0 8px 0px rgba(213,94,64,.5);
		}
	}
}




/* to delete later*/
.top-left-box {
	top: 0;
	left: 0;
	position: absolute;
}


#novolume,
#lowvolume,
#mediumvolume {
	display: none;
}
#highvolume {
	display: block;
}
#novolume,
#lowvolume,
#mediumvolume,
#highvolume {
	width: 20px;
}

/* MODALS STYLES */
#settingmodal {
	z-index: 20001;
	.modal-dialog, .modal-content {
		min-height: 500px !important;
	}
	.modal-body {
		.modalrowcontent {
			min-height: 498px !important;

			.navscol {
				border-right: 1px solid #a0a0a0 !important;
				width: 33%;
				padding-right: 7px;
				h2 {
					font-family: "Google Sans",Roboto,Arial,sans-serif;
				    font-weight: 400;
				    letter-spacing: 0;
				    font-size: 1.375rem;
				    line-height: 1.75rem;
				    display: block;
				    margin-left: 0.8rem;
				}
				.nav-pills {
					.nav-link {
						color: #5f6368;
						font-family: "Google Sans",Roboto,Arial,sans-serif;
					    font-size: .875rem;
					    font-weight: 500;
					    letter-spacing: .0107142857em;
					    text-transform: none;
					    border-bottom-right-radius: 25px;
					    border-top-right-radius: 25px;
					    padding: 12px 8px !important;
					    &:hover {
					    	background: #f7f7f7;
					    }
					    &:focus {
					    	background: #eee;
					    }
					    #settingfas {
					    	font-size: 1.1rem !important;
					    	margin-right: 10px !important;
					    	margin-left: 15px !important;
					    	width: 20px !important;
					    }
					}
					.active {
						color: #D55E40 !important;
						background: rgba(213, 94, 64, 0.2) !important;
						#settingfas {
						 	color: #D55E40 !important;
						 }
					}
				}
			}

			.modalcontentcol {
				width: 66%;
				.closerow {
					.close {
						border-radius: 50%;
						width: 35px;
						height: 35px;
						text-align: center !important;
						vertical-align: middle !important;
						cursor: pointer;
						&:hover {
							background: #d5d5d5 !important;
						}
						.fa-times {
						margin-top: 6px !important;
						}
					}
				}

				.tab-content {
					.tab-pane {
						.form-group {
							label {
								color: #D55E40;
			    				font-weight: 500;
							    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
							    font-size: .9rem;
							    -webkit-user-select: none;
							}
							select {
								border: none !important;
								border-bottom: 1px solid #f2f2f2 !important;
								border-radius: 0 !important;
								display: block;
							    overflow: hidden;
							    text-overflow: ellipsis;
							    color: #222;
							    text-align: left;
							    white-space: nowrap;
							    font-size: 14px;
								font-weight: 500;
								box-shadow: none;

								option {
									display: block;
								    overflow: hidden;
								    text-overflow: ellipsis;
								    color: #222;
								    text-align: left;
								    white-space: nowrap;
								    font-size: 14px;
			    					font-weight: 500;
								}
							}
						}
					}
				}
			}

		}
	}
}


@media screen and (max-width: 991px) {
	.navscol {
		width: 80px !important;
		padding-top: 25px;
		h2 {
			display: none !important;
		}
		.nav-pills {
			.nav-link {
				span {
					display: none;
				}
			}
		}
	}
	.modalcontentcol {
		width: calc(100% - 80px);
		.close {
			top: 10px;
			right: 10px;
			position: absolute;
		}
	}
}


@media screen and (max-width: 850px) {
	#bottom-navs {
		#bottom-navs-left {
			width: calc(100% - 500px) !important;
		}
	}
}

@media screen and (max-width: 768px) {
	#bottom-navs-left {
		display: none;
	}
	#reactionbtnsbox,
	#adminbtnsbox {
		margin-left: 3px !important;
	}
	#messageinput {
		max-width: 150px;
	}
}

@media screen and (max-width: 420px) {
	/*#messageinput {
		max-width: 110px;
	}*/

	#bottom-navs-middle {
		#adminbtnsbox {
			padding-top: 12px !important;
			button {
				width: 36px;
				height: 36px;
				font-size: 12px;
			}
		}
		#reactionbtnsbox {
			button {
				width: 36px !important;
				height: 36px !important;
				font-size: 25px !important;
			}
		}
	}

	#bottom-navs-right {
		#askmicrobtn {
			width: 33px !important;
			height: 33px !important;
			font-size: 16px;
			.spinner-border {
				margin-left: 2px !important;
			}
		}
	}

	#messageinput {
		max-width: 100px;
	}

}

@media screen and (max-width: 350px) {
	/*#messageinput {
		max-width: 110px;
	}*/

	#bottom-navs-middle {
		#adminbtnsbox {
			button {
				width: 36px !important;
				height: 36px !important;
				font-size: 12px;
			}
		}
	}
	#messageinput {
		max-width: 80px;
	}

}

@media screen and (max-width: 300px) {
	/*#messageinput {
		max-width: 110px;
	}*/

	#bottom-navs-middle {
		#adminbtnsbox {
			button {
				width: 32px !important;
				height: 32px !important;
				font-size: 10px;
			}
		}
	}
	#messageinput {
		max-width: 60px;
	}

}