#coinsvalues {
	display: none;
}
#coinsdropdown {
	margin-top: 25px;
	margin-right: -185px;
	max-width: 270px;
	min-width: 270px;
	max-height: 200px;
	overflow-y: scroll;
}
#coinsdropdown::-webkit-scrollbar {
    width: 6px;
    height: 0;
    padding: 0;
    background: #ccc;
    border-radius: 0px;
}

.pointer {
	cursor: pointer;
}

#coinsdropdown::-webkit-scrollbar-thumb {
    background: #D55E40;
    border-radius: 0px;
}

.participant-coins-item {
	width: 100%;
	padding: 4px 12px 4px 8px;
}
.current-player-item {
	background: rgba(213, 94, 64, .4);
	font-weight: 500;
}

#questions-box {
	bottom: 55px;
	right: 0;
	position: absolute;
	color: #fff;
	width: 0px;
	background: rgba(255,255,255,1);
	border-top-left-radius: 12px;
	transition: 0.4s;
	box-sizing: border-box;
	overflow: hidden;
	.nav-tabs {
		width: 100%;
		min-width: 270px;
		border-bottom: none !important;
		.nav-link {
			width: 50%;
			min-width: 135px;
			height: 50px;
			color: #D55E40;
			font-weight: 500;
			font-size: 16px;
			padding-top: 10px !important;
			border-bottom: 3px solid transparent;
			transition: 0.5s;
			&:hover {
				border: none;
				background: rgba(255,255,255,.1);
			}
		}
		.active {
			color: #D55E40 !important;
			border-bottom: 3px solid #D55E40 !important;
			border: none;
			background: transparent;
		}
	}

	#question-content {
		width: 100%;
		min-width: 270px;
		overflow-y: scroll;
		background: transparent;
		padding: 5px;
	}

	#question-content::-webkit-scrollbar {
	    width: 6px;
	    height: 0;
	    padding: 0;
	    background: #ccc;
	    border-radius: 5px;
	}

	#question-content::-webkit-scrollbar-thumb {
	    background: #D55E40;
	    border-radius: 5px;
	}
}

.checkmarkinput {
  height: 25px;
  width: 25px;
  background: #eee !important;
}

.addingquestion input:checked ~ .checkmarkinput {
  background: #2196F3 !important;
}

.customfileinput {
	display: none;
}
.uploadfileinput {
	width: 80%;
	height: 120px;
	margin: 0 10% 0 10%;
	background: rgba(213, 94, 64, .4);
	border: 3px dashed #D55E40;
	text-align: center;
	padding-top: 36px;
	color: #000;
	font-size: 22px;
	font-weight: 500;
	border-radius: 12px;
}

#datainfo,
#filedataerror {
	height: 0;
	overflow: hidden;
}
#filedataerror {
	line-height: 40px;
	border: none;
}

.text-question-btn {
	width: 46%;
	margin: 10px 1%;
	height: 100px;
	background: rgba(213, 94, 64, .4);
	color: #000;
	font-size: 16px;
	letter-spacing: 1px;

	border: none;
	outline: none;
	border-radius: 12px;
}
.text-question-btn:focus {
	outline: none;
}

#draggablearea {
	.question-item {
		display: flex;
		flex-direction: row;
		width: 100%;
		list-style: none;
		justify-content: space-between;
		color: #000;
		.question-btn {
			width: 30px;
			height: 30px;
			line-height: 25px;
			background: rgba(0,0,0,.1);
			border-radius: 50%;
			padding-top: 0;
			color: #000;
			border: none;
			outline: none;
			transition: 0.5s;
			&:hover {
				background: rgba(0,0,0,.3);
			}
		}
		.qstpart {
			display: flex;
			flex-direction: row;
			.fa-question-circle,
			.fa-image,
			.fa-video,
			.fa-music {
				margin: 5px 5px 0 5px;
			}
			#questiontext1,
			#questiontext2,
			#questiontext3,
			#questiontext4,
			#questiontext5,
			#questiontext6,
			#questiontext7 {
				width: 150px;
				white-space: nowrap;
		  		overflow: hidden;
		  		text-overflow: ellipsis;
		  		font-weight: 700;
		  		color: #000;
			}
		}
			
	}
}

.backpreviousmodal {
	height: 40px;
	width: 40px;
	padding: 0;
	line-height: 40px;
	border-radius: 50% !important;
}

#questiontodisplaycontainer {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background:rgba(0,0,0,.8);
	overflow: hidden;
	z-index: 1000000;
	display: none;
}

#counterbox {
    width: 60px;
  	height: 40px;
  	border: 3px solid rgba(213,94,64,1);
  	background: #fff;
  	color: rgba(213,94,64,1);
  	font-size: 30px;
  	font-weight: 500;
  	text-align: center;
  	line-height: 32px;
  	top: 2px;
  	left: 2px;
  	position: fixed;
  	z-index: 10000000 !important;
  	border-radius: 8px;
    p {
	    margin: 0;
	}
	.fa-times {
		cursor: pointer;
	}
  }
  #pointsvaluebox {
  	width: 110px;
  	height: 40px;
  	border: 3px solid rgba(213,94,64,1);
  	background: #fff;
  	color: rgba(213,94,64,1);
  	font-size: 30px;
  	font-weight: 500;
  	text-align: center;
  	line-height: 32px;
  	top: 2px;
  	right: 2px;
  	position: fixed;
  	z-index: 10000000 !important;
  	border-radius: 8px;
  }

#leavequestionbtn {
	margin-top: 25px;
	display: none;
}


#questionboxtextonly,
#questionboxtextimg,
#questionboxtextvideo,
#questionboxtextaudio,
#elementboximgonly,
#elementboxvideoonly,
#elementboxaudioonly{
	margin: 10px auto 0 auto;
	display: none;
	height: auto;
	max-width: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
	&::-webkit-scrollbar {
	    width: 0px;
	    background: rgba(255,255,255,0.3);
	    border-radius: 0px;
	}
	&::-webkit-scrollbar-thumb {
		background: #D55E40;
		border-radius: 0px;
	}
}

#elementboximgonly img {
	max-width: 100%;
	max-height: 220px;
	width: auto;
	height: auto;
}

#uploadQstFileLabel,
#uploadQstFileLabelquestionvideo,
#uploadQstFileLabelquestionaudio,
#uploadQstFileLabelelementimg,
#uploadQstFileLabelelementvideo,
#uploadQstFileLabelelementaudio,
.uploadQstFileLabel {
	width: 90%;
	height: 120px;
	line-height: 100px;
	font-size: 32px;
	text-align: center;
	margin: 10px 5%;
	background:rgba(213,94,64,0.4);
	border: 4px dashed rgba(213,94,64,1);
	border-radius: 5px;
	cursor: pointer;
}


#videoqstfile,
#imgqstfile,
#audio-file-selector,
#audio-fileelement-selector,
#videoelementfile,
#imgelement {
	display: block;
	top: 0;
	left: 0;
	right: 0;
	border: 0;
	position: absolute;
	background: red !important;
	height: 100%;
	opacity: 0;
}


/* img, video, audio questions */
#imgqstfileuploadbtnsm,
#videoqstfileuploadbtnsm,
#audioqstfileuploadbtnsm,
/* img, video, audio elements */
#imgeltfileuploadbtnsm,
#videoeltfileuploadbtnsm,
#audioeltfileuploadbtnsm,
 {
	display: none;
}

#output_image,
#output_imageelement {
	width: 100%;
	max-width: 400px;
}
.modal {
	z-index: 20000000 !important;
}


#output_video {
	height: 0;
	width: 100%;
}
#output_videoelement {
	height: 0;
	width: 100%;
}
#output_audio,
#output_audioelement,
#edit_output_audio {
	outline: none;
	p {
		background: rgba(213,94,64,1);
	}
}
#audioelementreader,
#audioreader {
	display: none;
	width: 100%;
}
#editaudioreader,
#editaudioelementreader {
	width: 100%;
}

.btn-group-toggle {
	.active {
		border: 2px solid rgba(213,94,64,1);
		color: #fff !important;
		box-shadow: none !important;
	}
	.response-btn {
		width: calc(50% - 20px);
		height: 60px;
		border: none;
		outline: none;
		background: #ccc;
		border: 2px solid #555;
		color: #000;
		margin: 10px;
		line-height: 40px;
		font-size: 22px;
		font-weight: 500;
	}
}

.qstpart p,
.qstpart i {
	cursor: pointer;
}

.question-item-btns {
	display: flex;
	flex-direction: row;
}
.question-item-btns .dropdown {
	margin-left: 3px;
}
.addquestionoptionbtn {
	float: right;
	border-radius: 50% !important;
}


#iframe_video {
	height: 0;
	width: 100%;
}

/* Validation messages */
#questiontextalert,
#inputvalidation,
#checkboxvalidation,
#responsesequal,
#imgfilealert,
#imgquestiontextalert,
#imgresponsesequal,
#imginputvalidation,
#imgcheckboxvalidation,
#videofilealert,
#videoquestiontextalert,
#videoresponsesequal,
#videoinputvalidation,
#videocheckboxvalidation,
#audiofilealert,
#audioquestiontextalert,
#audioresponsesequal,
#audioinputvalidation,
#audiocheckboxvalidation,
#imgelementfilealert,
#imgelementtitlealert,
#videoelementfilealert,
#videoelementtitlealert,
#audioelementfilealert,
#audioelementtitlealert,
/* edit messages */
#editquestiontextalert,
#editresponsesequal,
#editinputvalidation,
#editcheckboxvalidation,

#editimgfilealert,
#editimgquestiontextalert,
#editimgresponsesequal,
#editimginputvalidation,
#editimgcheckboxvalidation,

#editvideofilealert,
#editvideoquestiontextalert,
#editvideoresponsesequal,
#editvideoinputvalidation,
#editvideocheckboxvalidation,

#editaudiofilealert,
#editaudioquestiontextalert,
#editaudioresponsesequal,
#editaudioinputvalidation,
#editaudiocheckboxvalidation,

#editimgqstProgress,
#editvideoqstProgress,
#editaudioqstProgress,

#editimgElementProgress,
#editimgelementfilealert,
#editimgelementtitlealert,

#editvideoelementfilealert,
#editvideoelementtitlealert,
#editvideoElementProgress,

#editaudioelementfilealert,
#editaudioelementtitlealert,
#editaudioElementProgress {
	display: none;
}
.alert-text {
	padding: 4px 10px;
	background: rgba(255,0,0,.3);
	color: #ff0000;
	font-size: 18px;
	margin: 4px 20px 0 20px;
}

.closemodalbtnx {
	width: 35px !important;
	height: 35px !important;
	padding: 0 !important;
	line-height: 15px;
	right: 2px;
	top: 2px;
	position: absolute;
	z-index: 10000;
	background: rgba(255,255,255,.8) !important;
	border-radius: 50%;
	transition: 0.5s;
	.fas {
		margin: 0 !important;
	}
	&:hover {
		background: rgba(255,255,255,1) !important;
	}
	&:focus {
		outline: none;
	}
}

.modal-sm {
	min-width: 400px !important;
	margin-top: 10px !important;
}

.close:focus {
	outline: none;
}

#imagequestionmodal,
#videoquestionmodal,
#audioquestionmodal {
	overflow-y: scroll;
}












.editedimgbox,
.editedvideobox,
.editedaudiobox,
.editedaudioelementbox {
	max-width: 100%;
	position: relative;
}
.editedimgbox img {
	max-width: 100%;
	width: auto;
	height: auto;
}
.editedvideobox video {
	max-width: 100%;
	max-height: 300px;
	width: auto;
	height: auto;
	margin: 0 auto;
}
.editfilebtn {
	width: 30px;
	height: 30px;
	padding: 0 !important;
	line-height: 30px !important;
	border-radius: 50% !important;
	top: 5px;
	left: 5px;
	position: absolute;
}
.editaudiobtn {
	width: 30px;
	height: 30px;
	padding: 0 !important;
	line-height: 30px !important;
	border-radius: 50% !important;
	top: 5px;
	right: 2px;
	position: absolute;
	margin-right: 0;
	margin-top: 8px;
	margin-left: 5px;
}
#editimgquestion,
#editvideoquestion,
#editvideoelementquestion,
#editimgelementquestion {
	display: none;
}

#edit-audioelement-file-selector,
#edit-audio-file-selector {
	display: none;
}

.responsebtninit {
	background: #f8f9fa;
	border: 3px solid #f8f9fa;
	text-align: center;
	height: 40px;
	line-height: 35px;
	padding: 0;
	border-radius: 4px;

}
#check01,
#check02,
#check03,
#check04,
#imgcheck01,
#imgcheck02,
#imgcheck03,
#imgcheck04 {
	display: none;
}

#videocheck01,
#videocheck02,
#videocheck03,
#videocheck04 {
	display: none;
}
#audiocheck01,
#audiocheck02,
#audiocheck03,
#audiocheck04 {
	display: none;
}

#imgQuestionProgress,
#videoQuestionProgress,
#audioQuestionProgress,

#imgElementProgress,
#videoElementProgress,
#audioElementProgress {
	display: none
}

#changeimgqstbtnsm,
#addimgeltbtnsm,
#changevideoqstbtnsm,
#changevideoeltbtnsm {
	top: 0;
	left: 0;
	margin: 5px 0 0 5px;
	position: absolute;
	display: none;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	padding: 0;
	line-height: 32px;
	z-index: 10000;
}

#changeaudioqstbtnsm,
#changeaudioeltbtnsm {
	top: 0;
	right: 4px;
	margin: 8px 0 0 5px;
	position: absolute;
	display: none;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	padding: 0;
	line-height: 32px;
}

.previewicon {
	display: none;
}
.previewtxt {
	display: block;
}

.relative {
	position: relative !important;
}

.textimgresponseimgbox {
	min-height: 220px;
	max-height: 220px;
	width: 100%;
	background:transparent;
	position: relative;
	img {
		max-height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		position: absolute;
	}
	video {
		max-height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		position: absolute;
	}
}

.prevewimgbox {
	max-height: 220px;
	width: 100%;
	position: relative;
	background: transparent;
	img {
		max-height: 220px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	video {
		max-height: 220px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}

.preveweditimgbox {
	max-height: 220px;
	width: 100%;
	position: relative;
	background: transparent;
	padding: 0 auto;
	img {
		height: auto;
		max-height: 220px;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	video {
		height: auto;
		max-height: 220px;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}

@media screen and (max-width: 991px) {
	.btn-group-toggle {
		.response-btn {
			width: 100%;
			margin: 10px 0;
		}
	}
}

@media screen and (max-width: 768px) {

	#questionboxtextonly,
	#questionboxtextimg,
	#questionboxtextvideo,
	#questionboxtextaudio,
	#elementboximgonly,
	#elementboxvideoonly,
	#elementboxaudioonly{
		margin: 50px auto 0 auto;
	}
}

@media screen and (max-width: 576px) {

	#questionboxtextonly,
	#questionboxtextimg,
	#questionboxtextvideo,
	#questionboxtextaudio,
	#elementboximgonly,
	#elementboxvideoonly,
	#elementboxaudioonly{
		margin: 50px auto 0 auto;
	}

	#imgqstfileuploadbtnsm,
	/* img, video, audio questions */
	#imgqstfileuploadbtnsm,
	#videoqstfileuploadbtnsm,
	#audioqstfileuploadbtnsm,
	/* img, video, audio elements */
	#imgeltfileuploadbtnsm,
	#videoeltfileuploadbtnsm,
	#audioeltfileuploadbtnsm, {
		display: block;
	}
	.previewicon {
		display: block;
	}
	.previewtxt {
		display: none;
	}

	.modal-sm {
		min-width: 100% !important;
		margin: 0 !important;
	}

	#editaudioreader,
	#editaudioelementreader {
		width: calc(100% - 10px);
		margin-right: 10px;
	}

}